#banner{
    background-image: url(https://anime-sad.github.io/deep/project/zoro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
}

.anime{
    padding: 70px 0;
}
